
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BackGroud.cshtml";


    ViewBag.Id = "a21";
}

<style>
    .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
        padding: 3px 10px;
        font-size: 14px;
    }
</style>


<script type="text/javascript">
    var t1 = null;
    var optype = 1;

    function initT1() {
        if (t1) {
            t1.draw(true);
            return;
        }
        t1 = $('#t1').DataTable({
            "bAutoWidth": true,
            "aLengthMenu": [10,15, 20, 50, 100, 200, 500], //更改显示记录数选项
            "iDisplayLength": 15, //默认显示的记录数
            dom: 't<"d"r><"row"<"col-md-2"l><"col-md-2"i><"col-md-8"p>>',
            "processing": true,
            "serverSide": true,
            "sScrollY": $(window).height() - $("#navbar").outerHeight() - 150,
            "bSort": false,
            "bPaginate": true, //是否显示（应用）分页器

            "ajax": {
                "url": "GetData",
                datatype: "JSON",
                data: function (d) {
                    d.Dept_Name = $('#search_Dept_Name').val()
                }
                
            },
            "columns": [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        var content = '<label style="margin:0">';
                        content += '    <input type="checkbox" data-type="selectRow" />';
                        content += '    <span></span>';
                        content += '</label>';
                        return content;
                    }

                },
                { "data": null },
                {
                    "data": "Math_Dept_Name",
                    render: function (data, type, row, meta) {
                        return '<a>' + data + '</a>'
                    }
                },
                {
                    "data": "Math_Dept_InsertTime",
                    render: function (data, type, row, meta) {
                        return dateFormate(data)
                    }

                },
                {
                    "data": "Math_Dept_UpdateTime",
                    render: function (data, type, row, meta) {
                        return dateFormate(data)
                    }
                },
                {
                    "data": "Math_Dept_Remark"

                },
                {
                    "data": null, render: function (data, type, row, meta) {

                        return "<button edit class='btn btn-xs btn-warning'>编辑</button>"
                            + " <button delete class='btn btn-xs btn-danger'>删除</button>"

                    },
                    'sClass': "text-center"

                }
            ],
            language: {
                "sProcessing": "正在处理数据...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(1).nodes().each(function (cell, i) {
                    cell.innerHTML = '<span class="label label-success">' + (startIndex + i + 1) + '</span>'
                });
            }
        });



        $("#ckbSelectAll").change(function () {
            var selected = $(this).prop("checked");

            $('#t1 input[data-type="selectRow"]').prop('checked', selected);
            if (selected) {
                $('#t1 tbody tr ').addClass('selected')
            }
            else {
                $('#t1 tbody tr ').removeClass('selected')
            }


        });


        $('#t1 tbody').on('click', 'tr', function (e) {
            var selected = $(this).find('*[data-type="selectRow"]').prop('checked');
            $(this).find('*[data-type="selectRow"]').prop('checked', !selected);
            if (!selected) {
                $(this).addClass('selected')
            }
            else {
                $(this).removeClass('selected')
            }



        })

        $('#t1 tbody').on("click", 'input[data-type="selectRow"]', function (e) {
            e.stopPropagation();
            var selected = $(this).prop("checked");
            if (selected) {
                $(this).parents("tr").addClass("selected");
            }
            else {
                $(this).parents("tr").removeClass("selected");
            }
        });

        $('#t1 tbody').on("click", 'button[edit]', function (e) {
            optype = 2;
            e.stopPropagation();
            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            var data = row.data();


            $("#form1").get(0).reset();
            $("#form1").validate().resetForm(); //清除验证

            $("#myModalLabel").html("修改部门")
            $('#modelZhong').modal();





            for (var sth in data) {
                $("#" + sth).val(data[sth])
            }



            //弹出编辑框 并
        });

        $('#t1 tbody').on("click", 'button[delete]', function (e) {
            e.stopPropagation();

            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            layer.confirm('您确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {

                $.ajax({
                    'url': "DeleteDept",
                    data: { "Math_Dept_Id": row.data().Math_Dept_Id },
                    success: function (data) {
                        if (data.suc) {
                            layer.msg('删除成功', { icon: 1 })
                            t1.draw(true);
                        }
                        else {
                            layer.msg(data.remark, { icon: 2 })
                        }

                    }
                })
            });



        });

        $('#t1 tbody').on('click', 'button[renzhipai]', function (e) {
            document.getElementById("formRoleSend").reset();
            $('#modelRoleSend').modal();

            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            var data = row.data();

            $('#roleSendLabel').html("给【" + data.RoleName + "】分派人员");

            $(data.UserList).each(function (idx, el) {
                $("#" + el.UserId).prop("checked", true)
            })
            $("#RoleId").val(data.RoleId);
        })
    }

    $(document).ready(function () {

        $('#btnSearch').click(function () {
            t1.draw(true);
        });

        $('#btnAddUser').click(function () {
            optype = 1;
            $("#form1").get(0).reset();
            $("#form1").validate().resetForm(); //清除验证
            $("#myModalLabel").html("新建部门")
            $('#modelZhong').modal();
        });
        initT1();

        $("#form1").validate({
            rules: {

            },
            submitHandler: function (form) {

                var data = $(form).serialize();
                if (optype === 1) {
                    $.ajax({
                        url: "AddDept",
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data.suc) {
                                layer.msg('新建成功', { icon: 1 })
                                $('#modelZhong').modal('hide');
                                t1.draw(true);
                            }
                            else {
                                layer.msg(data.remark, { icon: 2 })
                            }
                        },
                        dataType: "JSON",
                        type: "POST"
                    })
                }
                else {

                    $.ajax({
                        url: "UpdateDept",
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data.suc) {
                                layer.msg('更新成功', { icon: 1 })
                                $('#modelZhong').modal('hide');
                                t1.draw(false);
                            }
                            else {
                                layer.msg(data.remark, { icon: 2 })
                            }
                        },
                        dataType: "JSON",
                        type: "POST"
                    })

                }
            }



        });


        $('#btnBatchDelete').click(function () {

            var data = [];
            var l = t1.rows('.selected').data().length;
            if (l) {
                for (var i = 0; i < l; i++) {
                    data.push(t1.rows('.selected').data()[i].Math_Dept_Id);
                }
                var resStr = JSON.stringify(data);

                layer.confirm('您确定要删除这' + l + '条数据吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    $.ajax({
                        'url': "DeleteDeptBatch",
                        data: { "RoleIds": resStr },
                        success: function (data) {
                            if (data.suc) {
                                layer.msg(data.remark, { icon: 1 })
                                t1.draw(true);
                            }
                            else {
                                layer.msg(data.remark, { icon: 2 })
                            }
                        }
                    })
                });




            }
            else {
                layer.alert("您没有选中任何一行", { icon: 2 })
            }
        })

      

        $("#chbSelecteAll").change(function () {
            $('#formRoleSend .modal-body :checkbox').prop("checked", $(this).prop("checked"))
        })

    });
</script>

<div aria-hidden="true" data-backdrop="static" class="modal fade " id="modelZhong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <i class="glyphicon glyphicon-remove-circle"></i></button>
                <h5 class="modal-title" id="myModalLabel">新建部门</h5>
            </div>
            <form class="form-horizontal" id="form1" name="form1">


                <input id="Math_Dept_Id" name="Math_Dept_Id" type="hidden" />
                <div class="modal-body">

                    <div class="form-group form-group-sm row">




                        <label class="col-sm-2  control-label" for="formGroupInputSmall">部门名称</label>
                        <div class="col-sm-4">
                            <input type="text" required class="form-control" placeholder="请输入部门名称" id="Math_Dept_Name" name="Math_Dept_Name" />
                        </div>



                    </div>

                    <div class="form-group form-group-sm row">
                        <label class="col-sm-2  control-label" for="formGroupInputLarge">部门简介</label>
                        <div class="col-sm-10">
                            <textarea id="Math_Dept_Remark"
                                       placeholder="请输入部门简介"
                                      name="Math_Dept_Remark" class="form-control" rows="2"></textarea>
                        </div>


                    </div>

            
        </div>
            <div class="modal-footer">



                <button   type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    保存
                </button>

                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    关闭
                </button>
            </div>
                </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4  col-md-4 col-sm-4">

        <div class="input-group  input-group-sm ">
            <span class="input-group-addon" id="basic-addon1">部门名称</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="search_Dept_Name"
                    placeholder="请输入部门名称"
                   >
        </div>
    </div>

   

    <div class="col-lg-8 col-sm-8 col-md-8" role="group" aria-label="...">
        <button type="button" class="btn btn-primary btn-sm" id="btnSearch">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            &nbsp;
            点击搜索
        </button>
        <button id="btnAddUser" type="button" class="btn btn-success  btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp;
            新建部门
        </button>


        <button id="btnBatchDelete" type="button" class="btn btn-danger  btn-sm">
            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            &nbsp;
            批量删除
        </button>

    </div>
</div>

<div style="margin-top:10px;">
    <table id="t1" class="table   table-condensed table-responsive">
        <thead>
            <tr>
                <th>
                    <label style="margin:0">
                        <input id="ckbSelectAll" type="checkbox" />
                        全选
                    </label>
                </th>
                <th>序号</th>
                <th>部门名称</th>
                <th>录入时间</th>
                <th>更新时间</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
