
@{
    ViewBag.Title = "ChangePWDIndex";
    Layout = "~/Areas/Admin/Views/Shared/_BackGroud.cshtml";
}

<script>
    $(function () {

        $("#form1").validate({
            rules: {
                roleName: {
                    required: true
                }
            },
            submitHandler: function (form) {
                var data1 = $(form).serialize();

                $.ajax({
                    url: "ChangePWD",
                    data: data1,
                    success: function (data) {
                        if (data.suc) {
                            layer.msg('密码修改成功', { icon: 1 })
                        }
                        else {
                            layer.msg(data.remark, { icon: 2 })
                        }
                    },
                    dataType: "JSON",
                    type: "POST"
                })
            }
        });
    })
</script>

<form class="form-horizontal" id="form1" style="margin-top:15px;">

    <div class="row">
        <div class=" col-md-offset-3 col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">密码修改</div>
                <div class="panel-body">
                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3  control-label" for="formGroupInputSmall"><font style="color:red">*</font>&nbsp;当前登录人 </label>
                        <div class="col-sm-9" style="height:30px;line-height:30px">
                            @System.Web.HttpContext.Current.User.Identity.Name
                        </div>



                    </div>


                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3  control-label" for="formGroupInputSmall"><font style="color:red">*</font>&nbsp;旧密码 </label>
                        <div class="col-sm-9">
                            <input required type="text" id="oldPWD" name="oldPWD" class="form-control" placeholder="旧密码" />
                        </div>



                    </div>

                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3  control-label" for="formGroupInputSmall"><font style="color:red">*</font>&nbsp;新密码 </label>
                        <div class="col-sm-9">
                            <input required maxlength="15" minlength="6" type="text" id="newPWD" name="newPWD" class="form-control" placeholder="新密码" />
                        </div>



                    </div>
                </div>

                <div class="panel-footer text-center">
                    <button id="cmd2000" type="submit" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm row" style="
    background-color:#2078ed;
    text-align:center;
    position:absolute;
    width:100%;
    bottom:0">
        <img src="~/images/logo.png" style="height:75px" />
        <div style="color:#fff;padding:10px;font-size:18px;letter-spacing:2px;font-weight:700">
            石家庄城市经济职业学院招生管理系统
        </div>
    </div>
</form>