
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="../../favicon.ico">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrapUpdate.css?v=20200131" rel="stylesheet" />
    <link href="~/Content/octicons.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <link href="~/Scripts/animate.min.css" rel="stylesheet" />
    <meta name="renderer" content=webkit>
    <script>
        $(document).ready(function () {
            var ieVersion = "@ViewBag.BrowserType";
            if (ieVersion == "IE8") {
                $('#mymy').modal();
            }


        })
    </script>
    <title>辅料药品关系系统</title>
    <style>
        @@font-face {
            font-family: 'FZZZHONGHJW';
            src: url('../../../../fonts/FZZZHONGHJW.TTF') format('truetype');
        }
        body {
            overflow: hidden;
            background: #e0e4e8;
        }
        html, body, .main {
        height:100%
        }
        .main {
            width: 100%;
            box-sizing: border-box;
            background-repeat: no-repeat;
            margin: 0 auto;
            position: relative;
            background-image: url('./../../../../Content/bg.jpg');
            background-repeat:no-repeat;
            background-size:100% 100%;
            
        }
        @@font-face {
            font-family: 'zsYAHEI';
            src: url('../../../../fonts/zsYAHEI.ttf') format('truetype');
        }
        .tle {
            color: #303376;
            font-family: 'FZZZHONGHJW';
            font-size: 26px;
            text-align: center;
            letter-spacing: 6px;
            margin-bottom:15px
        }
        .login {
            height: 223px;
            width: 610px;
            background: rgba(255,255,255,0.75);
            padding: 15px;
            margin: 0 auto;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
            border-radius:5px !important;
        }
        .logo {
            float: left;
            height: 52px;
            margin-left: 2px;
            line-height: 52px;
        }
        #formNew input {
            border: none;
            background-color: transparent;
            box-shadow: none;
            border-bottom: 1px solid #555;
        }
    </style>

    <script>
        $(document).ready(function () {
            //txtUserName
            //txtPWD
            //btnDenglu

            $('#txtUserName').focus();



            $("#txtUserName").bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    if ($("#txtUserName").val()) {
                        $('#txtPWD').focus();
                    }
                }
            });
            $("#txtPWD").bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    if ($("#txtPWD").val()) {
                        $('#btnDenglu').click();
                    }
                }
            });




            $('#btnDenglu').click(function () {
                var UserName = $.trim($('#txtUserName').val());
                var userPWD = $.trim($('#txtPWD').val());

                if (!UserName) {
                    $('#txtUserName').focus();
                    $('#loginMsg').html('用户名不能为空！！')
                    return;
                }
                if (!userPWD) {
                    $('#txtPWD').focus();
                    $('#loginMsg').html('密码不能为空！！')
                    return;
                }

                $("#modelLoad").modal();
                $.ajax({
                    timeout: 15000,
                     type: "post",
                     url:'@Url.Content("~/Admin/Login/ValidUser")',
                     data: { 'UserName': UserName, 'UserPWD': userPWD},
                    success: function (data) {
                        $("#modelLoad").modal("hide");
                        if (data.suc) {
                            if (data.remark) {
                                location.href = data.remark;
                            }
                            else {
                                $('#loginMsg').html("您没有授权")
                            }
                        }
                         else {
                             $('#loginMsg').html(data.remark)
                         }
                     },
                    dataType: "JSON",
                    complete: function (XMLHttpRequest, status) {
                        $("#modelLoad").modal("hide");
                        if (status == 'timeout') {
                            $('#loginMsg').html("超时,刷新试试");
                        }
                    }
                 });

            })

            $('#btnQuxiao').click(function () {
                $("#formNew").get(0).reset();
            })


            $("#woyijing,#nexttime").click(function () {
                $('#mymy').modal("hide");
            })


        })
    </script>
</head>
<body style="margin-top:0">

   

 
    <div class="main " id="main">
       
        <div class="login row" id="divLogin">
            <div class="tle">
                辅料药品关系系统
            </div>
            <div class="col-md-6">
                <div style="overflow:auto">
                    <img src="~/images/logo.png" class="logo" style="margin-top:14px" />
                </div>
            </div>
            <div class="col-md-6">

                <form class="form-horizontal" id="formNew" name="formNew">
                    <div class="form-group">
                        <label for="txtUserName" class="col-sm-2 control-label" style="padding-left:0;padding-right:0;">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" autofocus
                                   id="txtUserName" name="txtUserName"
                                   placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label" style="padding-left:0;padding-right:0;">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                   id="txtPWD" name="txtPWD"
                                   placeholder="请输入密码">
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom:3px;">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div id="btnDenglu" class="btn btn-primary  btn-sm" style="width:79px;">
                                登陆
                            </div>
                            <div id="btnQuxiao" class="btn  btn-danger  btn-sm" style="width:79px;">
                                取消
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span id="loginMsg" class="label label-danger"></span>
                        </div>
                    </div>
                </form>
            </div>


        </div>

        
    </div>


    <div class="modal fade " aria-hidden="true" data-backdrop="static" id="modelLoad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <i class="glyphicon glyphicon-remove-circle"></i></button>

                    <form>

                        <div class="form-group form-group-sm">
                            <h5 class="pro-title">正在处理中，请耐心等待......</h5>
                            <div class="progress pro-radius">
                                <div class="progress-bar progress-bar-striped gradient load_bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">

                                </div>
                            </div>

                        </div>



                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="mymy" aria-hidden="true" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <i class="glyphicon glyphicon-remove-circle"></i></button>
                    <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
                </div>
                <div class="modal-body" style="padding:0">
                    <div class="jumbotron" style="padding:10px;margin:0;background:#fff">
                        <img src="~/images/chrome_logo_2x.png" style="height:45px;" />
                        <h1 style="font-size:50px; text-align:center">推荐您使用Chrome浏览器</h1>
                        <p style="font-size:18px;color:#777;text-align:center">

                            检测到您还在使用IE8浏览器，属于过时浏览器,为了您的良好体验，请使用谷歌浏览器。
                        </p>
                        <div style="text-align:center">
                            <a class="btn btn-primary btn-sm" href="~/Admin/Upload/chrome_64.0.3282.119.exe" role="button">
                                <i class="glyphicon glyphicon-download"></i>
                                立即下载
                            </a>

                            <div class="btn btn-default btn-sm" id="woyijing" role="button">

                                我已经安装
                            </div>


                            <div class="btn btn-link btn-sm" id="nexttime" role="button">

                                下次再说
                            </div>
                        </div>

                        <p style="font-size:14px;color:#777;text-align:center;margin-top:15px;">

                            适用于 Windows 10/8.1/8/7 64-bit
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div style="position:absolute;bottom:20px;width:100%;color:#303376;font-size:13px;letter-spacing:1px" class="text-center">
        ©2023-2023 &nbsp; 上海昌为医药辅料技术有限公司
        <br />
        总部:上海市松江区书海路99号12幢
        <br />

        分部：上海市曲阳路910号复城国际506室

        <br />

        推荐使用1366*768或者高于此分辨率的普通电脑、高清屏等设备
    </div>

</body>
</html>
